body{
    background-color: rgba(7, 7, 7, 0.925);
}
#calculator{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color:black;
    border: 7px solid rgba(255, 121, 11, 0.705);
    border-radius: 5%;
    overflow: hidden;
    -user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
                             
}
#display{
    background-color: rgb(39, 39, 39);
    grid-area: 1/1/2/3;
    width:100%;
    height: 6.7em;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: rgb(206, 206, 206);
    -moz-box-shadow:    inset 0 0 10px  rgb(39, 39, 39);
    -webkit-box-shadow: inset 0 0 10px  rgb(39, 39, 39);
    box-shadow:         inset 2px 2px 15px  rgb(39, 39, 39);
}

#display-text-div{
    word-wrap: break-word;
    font-size: 1.9em;
    color: rgb(40, 43, 46);
    line-height:1em;
    width :75%;
    height: 100%;
    -webkit-touch-callout: text; 
    -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select:text; 
    
}
#display-text{
    padding:0.4em;
}
#delete{
    width :25%;
    height: 100%;
    flex-flow: row-reverse;
    align-items: center;
}
#delete img{
    margin: 25%;
    width: 55%;
    height: 50%;
}

#delete img:hover{
    cursor: pointer;
}
#numbers-pad{
    color: white;
    align-self: center;
    text-align: center;
    background-color: rgb(48, 45, 51);
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
}
#operations-pad{
    color:white;
    text-align: center;
    display: grid;
    grid-template-rows : repeat(5,1fr);
    background-color:rgb(31, 31, 31);
}.number-cell{
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:6.8em;
    height: 6.25em;
    font-size:16px;
}
.operation-cell{
    cursor: pointer;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operation-cell:hover, .number-cell:hover{
    background-color: rgb(39, 39, 39);
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 145, 0, 0.336);
    transition: .3s;
}
.operation-cell:active, .number-cell:active{
    transition: 0.1s;
    background-color: rgba(255, 145, 0, 0.432);
}

@keyframes hover{

    0%{
        border-radius:35%;
    }
    100%{
         border-radius:50%;
    }
}