body{
    
    word-break:keep-all;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: rgba(7, 7, 7, 0.925);
}
::-moz-selection {
    background:  rgba(255, 121, 11, 0.705);
  }
  
  ::selection {
    background: rgba(255, 121, 11, 0.705);
  }
::-webkit-scrollbar {
    height: 0.25em;
    width: 0.1em;
}
  
::-webkit-scrollbar-thumb {
    
    border-radius: 50px;
    background: rgba(255, 121, 11, 0.452);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 121, 11, 0.808);
}
#calculator{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    width: 390px;
    height: 500px;
    margin: auto;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: rgba(255, 121, 11, 0.705);
    border: 7px solid rgba(255, 121, 11, 0.705);
    border-radius: 5%;
    transition: 0.3s;
    overflow: hidden;
    -user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
                             
}
#display{

    background-color: rgb(39, 39, 39);
    grid-area: 1/1/2/3;
    width:100%;
    height: 5em;
    align-items: center;
    background-color: rgb(206, 206, 206);
    -moz-box-shadow:    inset 0 0 10px  rgb(39, 39, 39);
    -webkit-box-shadow: inset 0 0 10px  rgb(39, 39, 39);
    box-shadow:         inset 0px 0px 10px  rgb(39, 39, 39);
    
}

#display-text-div{
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap;
    overflow-x: auto;
    width:100%;
    font-size: 1.9em;
    color: rgb(40, 43, 46);
    line-height:1.9em;
    height: 100%;
    -webkit-touch-callout: text; 
    -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select:text; 
    
}
#display-text{
    padding:0.4em;
}
#numbers-pad{
    width: 19em;
    color: white;
    align-self: center;
    text-align: center;
    background-color: rgb(48, 45, 51);
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
}
#operations-pad{
    color:white;
    text-align: center;
    display: grid;
    grid-template-rows : repeat(5,1fr);
    background-color:rgb(31, 31, 31);
}
.number-cell{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:5.3em;
    height: 5.3em;
    font-size:16px;
}
.operation-cell{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    cursor: pointer;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-cell:hover{
    transition: .5s;
    background-color: rgba(255, 145, 0, 0.336);
}
.number-cell:active{
    background-color: rgba(255, 145, 0, 0.562);
}

.operation-cell:hover{
    transition: .5s;
    background-color: rgb(15, 15, 15);
}
.operation-cell:active{
    background-color: rgb(10, 10, 10);
}
#zero{
    border-radius: 50px;
    margin: auto;
    width:11em;
    grid-area: 5/1/6/3;
}
@media only screen and (max-width: 600px){
    #calculator{
        margin-top:1em;        
        width:  350px;
        height: 500px;
    }
    #numbers-pad{
        width: 17em;
    }
    .number-cell{
        width:5.3em;
        height: 5.3em;
    }
    .operation-cell{
        width: 3.5em;
        height: 3.5em;
    }

    
    .number-cell:hover{
        background-color: initial;
    }
    .operation-cell:hover{
        background-color: initial;     
    }
    .number-cell:active{
        animation-name: hover-number-mobile;
        animation-duration:0.1s;
        animation-fill-mode: forwards;  
    }
    .operation-cell:active{
        animation-name: hover-operation-mobile;
        animation-duration:0.1s;
        animation-fill-mode: forwards;      
    }
}
@keyframes hover-number-mobile{
    0%{
        background-color: rgba(255, 145, 0, 0.411);
    }
    100%{
        background-color: initial;
    }
}
@keyframes hover-operation-mobile{
    0%{
        background-color: rgba(10, 10, 10, 0.623);
    }
    100%{
        background-color: initial;
    }
}